<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Ejemplo</title>
</head>
<body>

    <header>
        <h1>Asistencia :D</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#seccion1">seccion 1</a></li>
            <li><a href="#seccion2">seccion 2</a></li>
            <li><a href="#seccion3">seccion 3</a></li>
        </ul>
    </nav>

    <main>
        <section id="seccion1">
            <h2>Links de las clases</h2>
            <p>︵‿︵‿︵୨˚̣̣̣͙୧ - - - - - ୨˚̣̣̣͙୧‿︵‿︵‿︵</p>
            <ul>
                <li>Elemento 1</li>
                <li>Elemento 2</li>
                <li>Elemento 3</li>
            </ul>
            <table>
                <tr>
                    <th>Encabezado 1</th>
                    <th>Encabezado 2</th>
                </tr>
                <tr>
                    <td>Dato 1</td>
                    <td>Dato 2</td>
                </tr>
            </table>
        </section>

        <section id="seccion2">
            <h2>Sección 2</h2>
            <h3>Subsección 2.1</h3>
            <p>Este es otro párrafo de ejemplo.</p>
        </section>

        <section id="seccion3">
            <h2>Sección 3</h2>
            <h3>Subsección 3.1</h3>
            <p>otro párrafo más xd</p>
        </section>
    </main>

    <aside>
        <h2>Contenido Adicional</h2>
        <a href="#">Enlace Adicional</a>
        <img src="/src/main/resources/static/imagen/descarga (9).jpg" alt="a">
    </aside>

    <footer>
        <p>Contáctanos: lucyvedia25@email.com</p>
        <ul>
            <li><a href="https://www.facebook.com/etsimeupm/?locale=es_ES">Facebook</a></li>
            <li><a href="https://virtual.unju.edu.ar/">Unju Virtual</a></li>
            <li><a href="https://github.com/lakslakslak">Repositorio </a></li>
        </ul>
    </footer>

</body>
</html>
