* {
    position: relative;
    
}
/* Estilos para el encabezado */
#main-header {
    background-color: rgb(242, 238, 238);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(65, 48, 48);
}

/* Estilos para el menú de navegación */
nav a {
    margin: 0 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(65, 48, 48);
}

/* Estilos para el contenido principal */
.main-content {
    margin: 20px;
}

/* Estilos para las secciones */
.section-content {
    margin-bottom: 50px;
}

/* Estilos para los títulos de sección */
.section-title {
    font-size: 1.5em;
    color: rgb(34, 32, 66);
}

/* Estilos para el contenido dentro de las secciones */
.section-content p,
.section-content ul,
.section-content ol,
.section-content table {
    margin: 10px 0;
}

/* Estilos para el contenido adicional */
aside {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

/* Estilos para los enlaces e imágenes dentro del contenido adicional */
aside a,
aside img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* La altura se ajusta automáticamente */
}

/* Estilos para el pie de página */
#main-footer {
    background-color: rgb(65, 48, 48);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Estilos para los enlaces dentro del pie de página */
#main-footer a {
    color: #fff;
    margin: 0 5px;
}
